<div ng-include="'html/_nav.html'" ngu-include-replace></div>
<button class="btn btn-default" ng-click="main.showModal()">Modal</button>
<button class="btn btn-default" ng-click="$emit('sidebarToggle')">Sidebar</button>
<div ng-controller="ngb.test.MainController as main">
  <div class="ngb-main-controller">
    <div class="ngb-multiselect-list"
         ngb-multiselect-list
         ngb-title="main.title"
         ngb-items="main.countries"
         ngb-load-more="main.loadMore()"
         ngb-filter="main.filter"
         ngb-selection="main.selection"
         ngb-select-all="main.selectAll()"></div>
  </div>
  <br/>
</div>
<div ng-include="'html/_sidebar.html'" ngu-include-replace></div>
