/* Modal */
@modal-backdrop-bg: @body-bg;
@modal-v-margin-xs: 0px;
@modal-v-margin: 30px;
@modal-backdrop-opacity: .8;
@modal-overlay-zindex: @zindex-modal + 1;

/* Sidebar */
/*
Twinfog
@ngb-sidebar-margin-sm: ~'calc(50% - @{container-sm} / 2)';
@ngb-sidebar-margin-md: ~'calc(50% - @{container-md} / 2)';
@ngb-sidebar-margin-lg: ~'calc(50% - @{container-lg} / 2)';
*/

@ngb-sidebar-margin-sm: 0px;
@ngb-sidebar-margin-md: 0px;
@ngb-sidebar-margin-lg: 0px;

@ngb-sidebar-width: 300px;
@ngb-sidebar-transition-transform: 200ms ease;
@ngb-sidebar-z-index: @zindex-navbar-fixed - 1;

@ngb-sidebar-top: @navbar-height;
