.ngb-multiselect-list {
  width: 100%;
  height: 100%;
  position: relative;
}
.ngb-multiselect-list > .list-group {
  margin: 0;
  overflow-y: auto;
  max-height: calc(100% - 34px);
}
.ngb-multiselect-list > .list-group.ngb-has-title {
  max-height: calc(100% - 34px - 50px);
}
.ngb-multiselect-list .ngb-list-search > .input-group > .form-control:first-child {
  border-radius: 0;
}
.ngb-multiselect-list .ngb-list-search .input-group-btn > .btn:last-child {
  border-radius: 0;
}
.ngb-multiselect-list .list-group-item:first-child {
  border-radius: 0;
}
.ngb-multiselect-list .list-group-item:last-child {
  border-radius: 0;
}
.ngb-multiselect-list .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.ngb-modal-overlay {
  position: absolute;
  z-index: 1051;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.ngb-modal-overlay .ngb-loader.timer-loader {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.ngb-patient-modal {
  height: 100%;
}
.ngb-modal.modal {
  -webkit-overflow-scrolling: touch;
}
.ngb-modal.modal.ngb-modal-fixed {
  height: 100%;
}
.ngb-modal.modal.ngb-modal-fixed .modal-dialog {
  height: calc(100% - 2 * 30px);
}
@media (max-width: 767px) {
  .ngb-modal.modal.ngb-modal-fixed .modal-dialog {
    height: 100%;
  }
}
.ngb-modal.modal.ngb-modal-fixed .modal-dialog .modal-content {
  height: 100%;
  overflow: hidden;
}
.ngb-modal.modal.ngb-modal-fixed .modal-dialog .modal-content .modal-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ngb-modal.modal.ngb-modal-fixed .modal-dialog .modal-content .modal-body {
  max-height: 100%;
  overflow-y: auto;
}
.ngb-modal.modal.ngb-modal-fixed .modal-dialog .modal-content .modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .ngb-modal.modal .modal-dialog {
    margin: 0px;
  }
}
.ngb-modal.modal .modal-dialog .modal-content {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.ngb-modal.modal .modal-dialog .modal-content .ngb-modal-input-text {
  height: 34px;
  /*width: ~'calc(100% - 2 * @{padding-base-horizontal} - 15px)';*/
  /*float: left;*/
  line-height: 1.3333333;
  max-height: 100px;
  resize: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #ffffff;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (min-width: 768px) {
  .ngb-modal-open .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .ngb-modal-open-blur > * {
    -webkit-filter: blur(5px);
    /* Chrome, Safari, Opera */
    filter: blur(5px);
  }
  .ngb-modal-open-blur > .modal,
  .ngb-modal-open-blur > .modal-backdrop {
    -webkit-filter: none;
    /* Chrome, Safari, Opera */
    filter: none;
  }
}
.ngb-sidebar-container {
  display: none;
  z-index: 1029;
  position: fixed;
  bottom: 0;
  width: 300px;
  height: calc(100% - 50px);
  overflow: hidden;
}
.ngb-sidebar-container.ngb-sidebar-left {
  left: 0;
}
@media (min-width: 768px) {
  .ngb-sidebar-container.ngb-sidebar-left {
    left: 0px;
  }
}
@media (min-width: 992px) {
  .ngb-sidebar-container.ngb-sidebar-left {
    left: 0px;
  }
}
@media (min-width: 1200px) {
  .ngb-sidebar-container.ngb-sidebar-left {
    left: 0px;
  }
}
.ngb-sidebar-container.ngb-sidebar-left .ngb-sidebar {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}
.ngb-sidebar-container.ngb-sidebar-right {
  right: 0;
}
@media (min-width: 768px) {
  .ngb-sidebar-container.ngb-sidebar-right {
    right: 0px;
  }
}
@media (min-width: 992px) {
  .ngb-sidebar-container.ngb-sidebar-right {
    right: 0px;
  }
}
@media (min-width: 1200px) {
  .ngb-sidebar-container.ngb-sidebar-right {
    right: 0px;
  }
}
.ngb-sidebar-container.ngb-sidebar-right .ngb-sidebar {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
.ngb-sidebar-container .ngb-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-top: 20px;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -o-transition: -o-transform 200ms ease;
  transition: transform 200ms ease;
}
.ngb-sidebar-container .ngb-sidebar .list-group-item:first-child {
  border-radius: 0;
}
.ngb-sidebar-container .ngb-sidebar .list-group-item:last-child {
  border-radius: 0;
}
.ngb-sidebar-in .ngb-sidebar-container .ngb-sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ngb-sidebar-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1028;
  background-color: #ffffff;
}
.ngb-sidebar-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.ngb-sidebar-in .ngb-sidebar-backdrop.fade {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (min-width: 768px) {
  .ngb-sidebar-in .ngb-sidebar-backdrop.fade {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .ngb-sidebar-in > * {
    -webkit-filter: blur(5px);
    /* Chrome, Safari, Opera */
    filter: blur(5px);
  }
  .ngb-sidebar-in > .ngb-sidebar-container,
  .ngb-sidebar-in > .ngb-sidebar-backdrop,
  .ngb-sidebar-in > .navbar {
    -webkit-filter: none;
    /* Chrome, Safari, Opera */
    filter: none;
  }
}
